@media (min-width: 992px) {
    .footerDesktop {
        text-align: center;
        background-color: rgb(196, 35, 35);
        border-radius: 100% 100% 0% 0%;
        height: 70px;
        padding-top: 12.5px;
    }

    .footer {
        display: inline;
    }

    .footer a{
        text-decoration: none;
        color: white;
    }

    .logos {
        position: absolute;
        width: 70px;
        height: 70px;
        bottom: 50.1vh;
        left: 70%;
    }

    body {
        font-size: 16px;
    }

    label[for="btn-menu"] {
        display: none;
    }

    .texto-foto {
        bottom: 16vh;
    }
}

/*Foi tomado como base para a resolução o iPad*/
@media (min-width: 768px) and (max-width: 991px) {
    .footer {
        text-align: center;
        background-color: rgb(196, 35, 35);
        border: solid 1px white;
        height: 70px;
        padding-top: 25px;
    }

    .footer a {
        text-decoration: none;
        color: white;
    }
 
    body {
        font-size: 13px;
    }

    .logos {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 33.5vh;
        left: 70%;
    }

    label[for="btn-menu"] {
        display: none;
    }

    .texto-foto {
        bottom: 10vh;
    }
}

/*Foi tomado como base para a resolução o iPhone 6/7/8 Plus*/
@media (max-width: 767px) {
    .footer {
        text-align: center;
        background-color: rgb(196, 35, 35);
        border: solid 1px white;
        height: 70px;
        padding-top: 25px;
    }

    .footer a {
        text-decoration: none;
        color: white;
    }

    body {
        font-size: 13px;
    }

    .logos {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 50.9vh;
        left: 80%;
    }

    label[for="btn-menu"] {
        display: block;
        margin-bottom: 30px;
    }

    .texto-foto {
        bottom: 16vh;
    }
}

body {
    background-image: url('img/bg-body.png');
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    border-radius: 50%;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    background-color: grey;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.banner {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.produtos img:first-child {
    width: 100%;
    position: relative;
}

.texto-foto {
    background-color: black;
    opacity: 0.8;
    color: white;
    position: relative;
    text-align: center;
    height: 30px;
    font-size: 16px;
    padding-top: 3px;
}

.produtos {
    margin-bottom: 30px;
}

.descricao {
    font-size: 12px;
}

label[for="btn-menu"] {
    padding: 5px;
    background-color: grey;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}