section {
    background-color: lightseagreen;
    padding: 40px;
    /* escreva seu código aqui */
    overflow: hidden;
  }
  
  article {
    /* escreva seu código aqui */
    float: left;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    border-left: solid 5px dodgerblue;
    box-sizing: border-box;
  }